`ls ./bed/ | grep bed | cut -d. -f1 > cells_input.txt`  
`ls ./kmers/ | grep freq.gz | cut -d. -f1 > cells_output.txt`

In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df_input = pd.read_csv('./cells_input.txt',sep='\t',header=None,names=['cells'])
df_input.index.name = None
df_output = pd.read_csv('./cells_output.txt',sep='\t',header=None,names=['cells'])
df_output.index.name = None

In [3]:
df_input.head()

     cells
0  CMP_100
1   CMP_10
2   CMP_11
3   CMP_12
4   CMP_13

In [4]:
df_output.head()

     cells
0  CMP_100
1   CMP_10
2   CMP_11
3   CMP_12
4   CMP_13

In [5]:
missing_cells = list(set(df_input['cells'])-set(df_output['cells']))

In [6]:
if not os.path.exists('bed_missing'):
    os.mkdir('bed_missing')

In [7]:
for x in missing_cells:
    print(x+'.bed')
    shutil.copy2('./bed/'+x+'.bed', './bed_missing/')

P2_558.bed

`bsub < get_missing_gapped_kmers.sh`